{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 41.875112221619496,
        "longitude": 12.51746580004692,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Casa",
        "time_zone": "Europe/Rome",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}